<h3 class="question-title">Question: {{question.direction}}</h3>
<ul class="answer-list">
{{#each options as |option|}}
  <li class="answer-option"><a {{action 'setAnswer' option}}><span class="answer-description">{{option}}</span></a></li>
{{/each}}
</ul>

<h3><a class="{{if isCorrect "correct"}} {{if isIncorrect "incorrect"}}"{{action 'checkCorrect' question.answer}} class="answer-submit">Check Your Answer</a></h3>
