<h3 class="question-title {{if isCorrect "correct"}}">Question: {{question.direction}}</h3>

<a {{action 'setAnswer' question.option1}} class="answer-option">{{question.option1}}</a>
<a {{action 'setAnswer' question.option2}} class="answer-option">{{question.option2}}</a>
<a {{action 'setAnswer' question.option3}} class="answer-option">{{question.option3}}</a>
<a {{action 'setAnswer' question.option4}} class="answer-option">{{question.option4}}</a><br>
<a {{action 'checkCorrect' question.answer}}>Check Your Answer</a>
