<h3 class="question-title">Question: {{question.direction}}</h3>

{{#each options as |option|}}
  <a {{action 'setAnswer' option}} class="answer-option">{{option}}</a>
{{/each}}

<br><br>

<a class="{{if isCorrect "correct"}} {{if isIncorrect "incorrect"}}"{{action 'checkCorrect' question.answer}} class="answer-submit">Check Your Answer</a>
