<h3 class="question-title">Question: {{question.direction}}</h3>
<ul class="answer-list">
{{#each options as |option|}}
  <li class="answer-option"><a {{action 'setAnswer' option}}><span class="answer-description">{{option}}</span></a></li>
{{/each}}
</ul>

<h3>
  {{#if isCorrect}}
    <a class="correct answer-submit" {{action 'setActive'}}>Next Question</a>
  {{else}}
    <a class="{{if isIncorrect "incorrect"}}" class="answer-submit" {{action 'checkCorrect' question.answer}}>Check Your Answer</a>
  {{/if}}
</h3>
