<h3 class="question-title {{if isCorrect "correct"}} {{if isIncorrect "incorrect"}}">Question: {{question.direction}}</h3>

 <h5>categoryTest type: {{question.categoryTest}}</h5>

<a {{action 'setAnswer' question.option1}} class="answer-option">{{question.option1}}</a>
<a {{action 'setAnswer' question.option2}} class="answer-option">{{question.option2}}</a>
<a {{action 'setAnswer' question.option3}} class="answer-option">{{question.option3}}</a>
<a {{action 'setAnswer' question.option4}} class="answer-option">{{question.option4}}</a><br><br>
<a {{action 'checkCorrect' question.answer}} class="answer-submit">Check Your Answer</a>
