<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<div class="container">
<nav>
  <ul>
    <li><h1 class="site-logo">{{#link-to 'profile'}}mindfish{{/link-to}}</h1></li>
    <li>
      {{#link-to 'profile'}}
        Profile
      {{/link-to}}
    </li>

    {{#if session.isWorking }}
      Working..
    {{else}}
      {{#if session.isAuthenticated }}
        <li>
          {{#link-to 'questions'}}
            Do Questions
          {{/link-to}}
        </li>
        <li>
          <button {{action 'logout'}}>Log Out</button>
        </li>
      {{else}}
        <a href="#" {{action 'signIntoWP'}}>Login</a>
      {{/if}}
    {{/if}}

  </ul>
</nav>
</div>

<div class="container">

{{outlet}}

</div>
